body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    overflow: hidden;
  }
  .container {
    position: relative;
    height: 100%;
    background: linear-gradient(45deg, #4EB439, #FFC627);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  .login-box {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 500px;
  }
  
  .login-box h1 {
    color: #376896;
  }
  
  .login-box h2 {
    margin-bottom: 20px;
    color: #333;
  }
  .login-box input[type="text"], .login-box input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
  }
  .login-box input[type="submit"] {
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .login-box input[type="submit"]:hover {
    background-color: #45a049;
  }