<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mentor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='mentor.css') }}">
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <!-- Sidebar content goes here -->
          <h2>Name: {{ mentor_info['firstname'][0].capitalize()}}{{ mentor_info['firstname'][1:] }} {{ mentor_info['lastname'][0].capitalize() }}{{ mentor_info['lastname'][1:] }}</h2>
          <img src="{{ url_for('static', filename='profile_icon.png') }}" alt="User Profile Picture" width="100" height="100"/>
          <button id="profile_pic_edit">Edit Profile Picture</button>
          <p><strong>Employee ID</strong>: {{ mentor_info['id'] }}</p>
          <p><strong>Position</strong>: {{ mentor_info['usertype'] }}</p>
          <p><strong>Department</strong>: {{ mentor_info['department'] }}</p>
          <p><strong>Bio</strong>: {{ mentor_info['bio'] }}</p>
          <p><strong>Certifications</strong>:</p>
          <ul>
            {% for certification in mentor_info['certification'] %}
              <li>{{ certification }}</li>
            {% endfor %}
          </ul>
          <p><strong>Introvert VS Extrovert</strong>:</p>
          <p>{{mentor_info['IorE']}}</p>
          <p><strong>Team VS Self</strong>:</p>
          <p>{{mentor_info['TorS']}}</p>
          <p><strong>Multi-tasking VS Single-tasking</strong>:</p>
          <p>{{mentor_info['MorS']}}</p>
          <div class="directory"><button id="directory" onclick="redirectToDirectory()">Directory</button></div>
          <div class="logout"><button id="logout" onclick="logout()">Log Out</button></div>
        </div>
        <div class="content">

            <button class="tabButton" onclick="updateMeetingsDisplay('Aniket')">Aniket</button>
            <button class="tabButton" onclick="updateMeetingsDisplay('Lizzie')">Lizzie</button>
            <button class="tabButton" onclick="updateMeetingsDisplay('Tom')">Tom</button>
            <button class="tabButton" onclick="updateMeetingsDisplay('Sachi')">Sachi</button>
            <button class="tabButton" onclick="updateMeetingsDisplay('Youjin')">Youjin</button>
            
            <div class="progress-bar">
                <div class="progress-bar-inner" style="width: 10%">Mentee Progress: </div>
            </div>
            <div class="calendar">
                <h1>April 2024</h1>
                <p>Scheduled Meetings</a>
                <ul>
                    <li><time datetime="2024-04-01">1</time></li>
                    <li><time datetime="2024-04-02">2</time> </li>
                    <li><time datetime="2024-04-03">3</time></li>
                    <li><time datetime="2024-04-04">4</time></li>
                    <li><time datetime="2024-04-05">5</time> </li>
                    <li><time datetime="2024-04-06">6</time></li>
                    <li><time datetime="2024-04-07">7</time></li>
                    <li><time datetime="2024-04-08">8</time> </li>
                    <li><time datetime="2024-04-09">9</time></li>
                    <li><time datetime="2024-04-10">10</time></li>
                    <li><time datetime="2024-04-11">11</time> </li>
                    <li><time datetime="2024-04-12">12</time></li>
                    <li><time datetime="2024-04-13">13</time></li>
                    <li><time datetime="2024-04-14">14</time></li>
                    <li><time datetime="2024-04-15">15</time>   </li>
                    <li><time datetime="2024-04-16">16</time></li>
                    <li><time datetime="2024-04-17">17</time>   </li>
                    <li><time datetime="2024-04-18">18</time></li>
                    <li><time datetime="2024-04-19">19</time></li>
                    <li><time datetime="2024-04-20">20</time></li>
                    <li><time datetime="2024-04-21">21</time> </li>
                    <li><time datetime="2024-04-22">22</time>   </li>
                    <li><time datetime="2024-04-23">23</time></li>
                    <li><time datetime="2024-04-24">24</time>   </li>
                    <li><time datetime="2024-04-25">25</time></li>
                    <li><time datetime="2024-04-26">26</time></li>
                    <li><time datetime="2024-04-27">27</time></li>
                    <li><time datetime="2024-04-28">28</time></li>
                    <li><time datetime="2024-04-29">29</time>  </li>
                    <li><time datetime="2024-04-30">30</time></li>
                </ul>
            </div>

            <div class="star-container">
              <div class="star-rating" id="rating-1">
                <p>Meeting Rating:</p>
                <span class="star" data-value="1">&#9733;</span>
                <span class="star" data-value="2">&#9733;</span>
                <span class="star" data-value="3">&#9733;</span>
                <span class="star" data-value="4">&#9733;</span>
                <span class="star" data-value="5">&#9733;</span>
              </div>
              <div class="star-rating" id="rating-2">
                <p>Certification Rating:</p>
                <span class="star" data-value="1">&#9733;</span>
                <span class="star" data-value="2">&#9733;</span>
                <span class="star" data-value="3">&#9733;</span>
                <span class="star" data-value="4">&#9733;</span>
                <span class="star" data-value="5">&#9733;</span>
              </div>
              <div class="star-rating" id="rating-3">
                <p>Overall Rating:</p>
                <span class="star" data-value="1">&#9733;</span>
                <span class="star" data-value="2">&#9733;</span>
                <span class="star" data-value="3">&#9733;</span>
                <span class="star" data-value="4">&#9733;</span>
                <span class="star" data-value="5">&#9733;</span>
              </div>
              <button id="submitRatings" onclick="alert('Rating Submitted')">Submit Current Rating for Mentee</button>
            </div>
            <h3 class='mentee-text'>Text Your Mentee</h3>
            <div class="text-container">
                
                <textarea placeholder="Type your message here..."></textarea>
                <button onclick="alert('Message Sent to their Slack')">Send</button>
            </div>

        </div>
    </div>

    <script src="/static/mentor.js"></script>
</body>
</html>
