<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='registerstyle.css') }}" />
  </head>
  <body>
    <div class="container">
      <img src="{{ url_for('static', filename='Guide_U_transparent.png') }}" class="logo">
      <div class="register-box">
        <h2>Register for an Account</h2>
        <form action="{{ url_for('register') }}" method="post">
          <input id="firstname" type="text" name="fname" placeholder="First Name" required />
          <input id="lastname" type="text" name="lname" placeholder="Last Name" required />
          <input id="username" type="text" name="username" placeholder="Username" required />
          <input id="password"type="password" name="password" placeholder="Password" required/>
          <textarea id="bio" type="text" name="bio" placeholder="Bio" rows="5" cols="30" maxlength="245">  </textarea>
          <label for="department">Department</label>
          <select id="department">
            <option value="Finance">Finance</option>
            <option value="Human Resources">Human Resources</option>
            <option value="Information Technology">Information Technology</option>
            <option value="Legal">Legal</option>
            <option value="Marketing">Marketing</option>
            <option value="Sales">Sales</option>
            <option value="Supply Chain">Supply Chain</option>
          </select>
          <br>
          <label for="certifications">Certifications</label>
          <div class="multipleSelect">
            <div class="selectBox" onclick="showMultipleCheckbox()">
              <select>
                <option>Click to expand and collapse</option>
              </select>
              <div class="selectionBox"></div>
            </div>
            <div id="multipleCheckbox">
              <label for="Finance1">
                  <input type="checkbox" id="Finance1" />Finance I</label>
              <label for="Finance2">
                  <input type="checkbox" id="Finance2" />Finance II</label>
              <label for="InformationTechnology1">
                  <input type="checkbox" id="InformationTechnology1" />Information Technology I</label>
              <label for="InformationTechnology2">
              <input type="checkbox" id="InformationTechnology2" />Information Technology II</label>
              <label for="Legal1">
              <input type="checkbox" id="Legal1" />Legal I</label>
              <label for="Legal2">
              <input type="checkbox" id="Legal2" />Legal II</label>
              <label for="Marketing1">
              <input type="checkbox" id="Marketing1" />Marketing I</label>
              <label for="Marketing2">
              <input type="checkbox" id="Marketing2" />Marketing II</label>
              <label for="Sales1">
              <input type="checkbox" id="Sales1" />Sales I</label>
              <label for="Sales2">
              <input type="checkbox" id="Sales2" />Sales II</label>
              <label for="SupplyChain1">
              <input type="checkbox" id="SupplyChain1" />Supply Chain I</label>
              <label for="SupplyChain2">
              <input type="checkbox" id="SupplyChain2" />Supply Chain II</label>
            </div>
          </div>
          
          <table>
            <tr>
              <td>
                <input type="radio" id="mentor" name="role" value="mentor">
                <label for="mentor">Mentor</label>
              </td>
              <td>
                <input type="radio" id="mentee" name="role" value="mentee">
                <label for="mentee">Mentee</label>
              </td>
            </tr>
            <tr>
              <td>
                <input type="radio" id="introvert" name="personality" value="introvert">
                <label for="introvert">Introvert</label>
              </td>
              <td>
                <input type="radio" id="extrovert" name="personality" value="extrovert">
                <label for="extrovert">Extrovert</label>
              </td>
            </tr>
            <tr>
              <td>
                <input type="radio" id="team" name="personality2" value="team">
                <label for="team">Team</label>
              </td>
              <td>
                <input type="radio" id="self" name="personality2" value="self">
                <label for="self">Self</label>
              </td>
            </tr>
            <tr>
              <td>
                <input type="radio" id="multitasking" name="personality3" value="multitasking">
                <label for="multitasking">Multi-tasking</label>
              </td>
              <td>
                <input type="radio" id="singletasking" name="personality3" value="singletasking">
                <label for="singletasking">Single-tasking</label>
              </td>
            </tr>
          </table>

          <input type="submit" value="Register" />
        </form>
      </div>
    </div>

    <script src="accounts.js"></script>
    <script>
      var selectTagOpen = false;

      function showMultipleCheckbox() {
        var checkboxes = document.getElementById("multipleCheckbox");
        if (!selectTagOpen) {
          checkboxes.style.display = "block";
          selectTagOpen = true;
        } else {
          checkboxes.style.display = "none";
          selectTagOpen = false;
        }
      }

    </script>
  </body>
</html>
